@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap');

body, html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: 'Oxygen', sans-serif;
    background-color: #f4f4f4;
    color: solid black;
}

header {
    background: url('images/background/leaf.jpg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header-content h1 {
    color: white;
    font-size: 6rem;
    margin: 0;
}

.header-link {
    color: white;
    text-decoration: none;
    margin: 1rem;
    display: block;
    font-size: 1.2rem;
}

nav {
    width: 100%;
    background-color: transparent;
    position: absolute;
    top: 0;
    padding: 1rem;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 1rem; /* Add some space between the links */
}

.social-links a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border: 1px solid #fff;
    border-radius: 4px;
}

.social-links a:hover {
    background-color: #fff;
    color: #012169;
}

main {
    background-color: #f4f4f4;
    padding: 1rem 1rem;
}

section {
    margin: 2rem 0;
    padding: 2rem 0;
}

section h2 {
    text-align: center;
    font-size: 5rem;
    margin-bottom: 1rem;
}

section h3 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.intro-content, .about-content, .project {
    position: relative;
    border: 2px solid black;
    border-radius: 8px;
    padding: 1rem;
    margin: 1rem;
    background-color: #ffffff;
    font-size: 1.7rem;
    overflow: hidden;
}

.intro-content {
    display: flex;
    align-items: center;
}

#intro .intro-content img {
    
    width: 400px;  
    height: auto; 
    margin-right: 2rem;
    max-height: 500px;
    border-radius:8px;
    border: 2px solid black
}

.intro-text {
    flex: 1;
}

.about-img-top-right {
    float: right;
    margin: 0 0 1rem 1rem;
    width: 400px; 
    height: auto;
    border-radius: 8px;
    border: 2px solid black;
}

.about-img-bottom-left {
    float: left; 
    margin: 1rem 1rem 0 0; 
    width: 500px; 
    height: auto;
    border-radius: 8px;
    border: 2px solid black;
}

.project {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.project img {
    max-width: 30%;
    height: auto;
    margin-right: 2rem;
}

.project-text {
    flex: 1;
}

.contact-links {
    display: flex;
    justify-content: center;
}

.contact-links a {
    margin: 0 1rem;
}

.contact-links img {
    width: 75px; /* Increase size of contact images */
    height: 75px; /* Increase size of contact images */
}
