@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap');

body, html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: 'Oxygen', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: url('images/background/leaf.jpg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.header-content h1 {
    font-size: 5rem;
    margin: 1rem;
}

.social-links {
    margin-top: 1rem;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    gap: 1rem
}

.header-link {
    color: white;
    text-decoration: none;
    margin: 0 1rem;
    font-size: 1.2rem;
}

.social-links {
    bottom: 1rem;
    position: absolute;
}

.social-links a{
    padding: 1rem;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border: 1px solid #fff;
    border-radius: 4px;
}


.social-links a:hover {
    background-color: #fff;
    color: #012169;
}

nav {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    padding: 1rem;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 5rem;
}

main h2 {
    font-size: 3rem;
}

main h3 {
    font-size: 1.8rem;
}

main p {
    font-size: 1.3rem;
}

section {
    margin: 2rem 0;
}

#intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #ffffff;
    border-radius: 10px;
}

.intro-content {
    display: flex;
    align-items: center;
}


#intro .intro-content img {
    width: 300px;  
    height: 300px; 
    max-width: 300px;  
    max-height: 300px;
    margin: 2rem 1rem 2rem 2rem;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid black;
}

#intro .intro-content p{
    margin-right: 2rem;
}


#about {
    background-color: #e0e0e0;
    padding: 2rem;
    border-radius: 10px;
}

.about-content {
    position: relative;
    padding: 1rem
}

.about-img-top-right {
    width: 300px;
    float: right;
    margin-left: 1rem;
    margin-bottom: 2rem;
    border-radius: 8px;
    border: 2px solid black;
}

.about-img-bottom-left {
    width: 400px;
    float: left;
    margin-right: 1rem;
    margin-top: 1rem;
    border-radius: 8px;
    border: 2px solid black;
}

#internships {
    background-color: #ffffff;
    padding: 5rem;
    border-radius: 10px;
}

.internship {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    border-radius: 8px;
    border: 2px solid black;
}

.internship img {
    width: 150px;
    height: auto;
    margin: 0 2rem 0 2rem;
    border-radius: 10px;
}

.internship-text {
    padding: 3rem;
}

.internship-text h3 a {
    color: rgb(118, 74, 74);
    text-decoration: underline;
}

.internship-text h3 a:hover {
    text-decoration: underline;
}

#projects {
    background-color: #e0e0e0;
    padding: 2rem;
    border-radius: 10px;
}

.project-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.project-box {
    width: 48%;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 2rem;
    overflow: hidden;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.1);
    border: 2px solid black;
    transition: transform 0.3s ease; /* Adds smooth scaling transition */
}

.project-box:hover {
    transform: scale(1.05); /* Scales up slightly on hover */
}

.project-box .project-video {
    width: 90%; /* Full width of the container */
    aspect-ratio: 16 / 9; /* Set aspect ratio to prevent squishing */
    border: none; /* Removes black border */
    margin: 1rem; /* Remove any margin */
    display: block; /* Ensures the iframe fills the container */
    transition: transform 0.3s ease;
}

.project-box:hover iframe.project-video {
    transform: scale(1.05); /* Matches scaling effect on hover */
}

.project-box img {
    width: 90%;
    height: auto;
    margin: 1rem;
}

.project-text {
    padding: 1rem;
}

#contact {
    text-align: center;
    padding: 2rem;
}

.contact-links {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.contact-links a img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: transform 0.3s;
}

.contact-links a img:hover {
    transform: scale(1.1);
}